<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
      <!--<serviceHostingEnvironment multipleSiteBindingsEnabled="true"/>-->
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IPassengerService" />
                <binding name="BasicHttpsBinding_IPassengerService">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://sitabagdropassignmentdcs.azurewebsites.net/PassengerService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPassengerService"
                contract="PassengerService.IPassengerService" name="BasicHttpBinding_IPassengerService" />
            <endpoint address="https://sitabagdropassignmentdcs.azurewebsites.net/PassengerService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IPassengerService"
                contract="PassengerService.IPassengerService" name="BasicHttpsBinding_IPassengerService" />
        </client>
    </system.serviceModel>
</configuration>